{{!< default}}

<div class="container">

		<h1> Redshift  Healthcare </h1>
		<h3>  We provide comprehensive end to end musculoskeletal and pain management solutions  </h3>

			<p>
				  <br> We  are  a  group  of  highly  experienced  and  motivated  musculoskeletal  practitioners,  passionate  about  making  a  real  difference  in  the  way  we  deliver  care.  As  a  team,  we  bring  extensive  NHS  frontline  experience in dealing  with  musculoskeletal  and  chronic  pain  problems.</br>
					<br> Our  multidisciplinary  team  consists  of  senior  physiotherapy  practitioners,  pain  consultants,  psychologists  and  health  coaches.  </br>

		<ul>
		<li> <em> We enable </em> </li>
		<li> <em> We innovate </em></li>
		<li> <em>We deliver value</em></li>
	</ul>
	</div>
</div>
