
<div class="container">
	<h1>Our team</h1>

	<ul>

<div class="container-fluid" device-width>
	<h3> Dev Kumar</h3>
	<img src="" alt="">
	<p>   Devendra  is  a  highly  skilled  extended  scope  practitioner  (ESP),  medicolegal    case  assessor    and  also  a  qualified  homeopathic/  holistic  medicine    consultant    and    healthcare  service  re-designer  with  more  than  21  years  of  experience  of  working    in  healthcare  industry,  in  different    healthcare  settings    within  UK  and  abroad.  He  has  been  working  in  UK  since  2004  after  passing  his  MBA  in  healthcare  Management.    Devendra  Kumar  is  director  and  co-founder  of  Redshift  Healthcare  and  also  working  as  associate  clinical    director    and  clinical  lead  msk  (  rheumatology  )  for  Healthsare  Limited    in  Central    London  and  West    London  and    he  is  also  working  as    extended  scope  practitioner  in  Hounslow  and  Richmond  NHS  Foundation  trust.    His  main  area  of  expertise  is  management  of  complex  case  load  of  Musculoskeletal  problems  like  back  pain,  neck  pain,  shoulder,  knee,  hip  OAand  other  soft  tissue  pathologies.  He  also  does  rheumatology  and  chronic  pain    screening  clinics.  He  also  enhances  the  practice  skills  by  performing  land  mark  guided  steroid  injection  and  dry  needling,  acupuncture,  ultrasound  guided  Intervention  (USGI)  which  he  uses  in  his  daily  practice.    Devendra  has  a  successful  work/life  balance  between  professional  commitments  and  enjoys  going  to  gym  and  running    and    do  charity  runs  for  children  with    cancer  in  UK.
	</p>
</div>


<div class="container-fluid" device-width>
	<h3> Kushal Shah</h3>
	<img src="" alt="">
	<p>
		Kushal  is  a  highly  skilled  and  revered  extended  scope  practitioner  physiotherapist  (ESP)  with  more  than  15  years  of  experience  of  working  in  Professional  Sports  (Football/Cricket/Rugby),  Ministry  of  Defence,  NHS  and  in  private  practice.
		Kushal  currently  works  as  an  ESP  with  in  GP  practice  as  First  Point  Contact  Practitioner  (FPP)  and  handles  the  Musculoskeletal  (MSK),  Rheumatology  and  Complex  pain  cases.
		He  also  enhances  the  practice  skills  by  performing  land  mark  guided  injection  and  dry  needling.
		Currently,  he  is training  as  an  MSK  Sonographer.
</div>

<div class="container-fluid" device-width>
	<h3> Dr Ashish Dwivedi</h3>
	<img src="" alt="">
	<p>
		Ashish  has  a  clinical  and  commercial  background  and  brings  extensive  experience  (both  national  and  international)  in  healthcareacross  a  range  of  roles;  leadership,  strategic,  operations  and  consulting.
		His  experience  combines  executive  leadership  positions  in  international  hospital  and  local  primary  care  organisations  combined  with  consulting  experience  of  working  with  more  than  25  health  and  care  economies.    Having  worked  across  health  and  care  sector  and  seen  the  significant  opportunities  to  improve  how  care  is  provided,  Ashish  believes  that  this  is  the  time  to  do  and  prove  it.  Ashish  is  driven  purely  by  a  common  desire  to  make  a  difference  to  the  people.

	</p>
</div>

<div class="container-fluid" device-width>
	<h3> Dr Rahul Seewal </h3>
	<img src="" alt="">
	<p>

Rahul  is  a  director  and  co  founder  of  Redshift  Healthcare  and  MyPain.  He  is  a  consultant  in  anaesthesia  &  pain  medicine  at  The  Chelsea  &  Westminster  Hospital  and  The  Lister  Hospital  in  London.  After  graduating  and  then  completing  a  Doctorate  in  Medicine  from  AIIMS,  he  has  worked  at  Guy’s  &  St  Thomas’  Hospital,  University  College  London  Hospitals,  The  Royal  Free  Hospital,  The  National  Hospital  for  Neurology  &  Neurosurgery,  Kings  College  Hospital  and  The  Royal  National  Orthopaedic  Hospital.  He  has  20  years  experience  as  a  doctor  and  over  10  years  experience  in  pain  medicine.  His  area  of  expertise  is  helping  people  manage  their  back  pain,  neck  pain,  headaches,  fibromyalgia,  pelvic  pain,  abdominal  pain  and  other  chronic  pain  syndromes.    Rahul  is  passionate  about  improving  access  and  quality  of  healthcare  using  the  latest  scientific  tools,  including  the  power  of  World  Wide  Web.  His  research  interests  include  sustained  behaviour  change  and  decision-making,  use  of  data  science  and  neuromodulation.    He  is  keen  sportsman,  and  enjoys  cricket  and  swimming.  Even  though  he  loves  superbikes  and  sports  cars,  he  believes  we  must  care  about  our  environment  and  leave  it  better  that  what  we  inherited.  He  likes  to  cycle  to  work  and  take  public  transport  wherever  possible.
</p>
</div>

</ul>
